//--- Styles ---//
$font-body: 				'ff-meta-web-pro', 'Arial', sans-serif;
$font-header: 			$font-body;
$font-line-height:  1.6em;

// Weight
$font-thin:         100;
$font-light:        300;
$font-regular:      400;
$font-medium:       500;
$font-bold:         700;
$font-black:        800;

%font-headline{
	font-family:$font-header;
	font-size: 	1.5em;
	line-height:$font-line-height;
}

%font-title{
	font-family:$font-header;
	font-size:  1.3em;
	line-height:$font-line-height;
}

%font-subheading{
	font-family:$font-header;
	font-size:  1.1em;
	line-height:$font-line-height;
	letter-spacing: -0.05em;
}

%font-body{
	font-family:$font-body;
	font-size:  1.8rem;
	line-height:$font-line-height;
}

%font-bold{
	font-family:$font-body;
	font-weight:$font-medium;
	font-size:  1.8rem;
	line-height:$font-line-height;
}

%font-caption{
	font-family:$font-body;
	font-size:  0.7em;
	line-height:$font-line-height;
	letter-spacing: 0.05em;
}

%font-button{
	font-family:$font-header;
	font-size: 1.8rem;
	line-height: 2.4rem;
	line-height:$font-line-height;
}

/*--- !Typography ---*/
body, html{
	height: auto;
	font-size: 62.5%;
}

body{
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-family: $font-body;
	color: $black-75;
	@include font-smoothing();
}

footer h2,
h3, h4, h5, h6{
	color: $black-75;
}

h1{
	color: $color-sub;
	font-size: 2.6rem;
	line-height: 3.2rem;
}

h2{
	color: $color-sub;
	font-size: 2.6rem;
	line-height: 2.8rem;
}

h3{
	font-size: 1.8rem;
	line-height: 2.2rem;
}

p{
	@extend %font-body;
}

a{
	font-size: 1.8rem;
	line-height: 1.8rem;
}
