#block-webform-client-block-1296{
  .block-title{
    display: none;
  }
  margin: 0 -1.5rem;
}
.form-section{
  margin-bottom: 5rem;
}
.input-question{
  .webform-component{
    margin: 4rem 0 0 0
  }
}
.input-row{
  .form-item{
    display: flex;
    margin-bottom: 1rem;
    label{
      padding: 12px 20px 10px 0;
    }
    .select-chevron{
      margin-top: 1.1rem;
      position: absolute;
      right: 0;
    }
  }
}
.bonus-malus-checkbox{
  width: 260px;
  margin-top: 1rem;
  .glyphicon-ok{
    position: absolute;
    margin-top: 1.9rem;
    font-size: 1.4rem;
    margin-left: 1.9rem;
    z-index: 10;
    color: $color-accent;
  }
  label.bold{
    font-weight: bold;
  }
}
.bonus-malus-head{
  padding: 1.4rem;
  margin: 0;
  border-color: #f0f0f0;
  color: #3f3f3f;
  text-align: left;
  border-bottom: 1px solid #ddd;
  p{
    font-size: 1.4rem;
    font-weight: bold;
  }
}
.bonus-malus-body{
  margin-bottom: 4rem;
  .row{
    padding: .8rem;
    margin: 0;
    border-color: #f0f0f0;
    color: #3f3f3f;
    text-align: left;
    border-bottom: 1px solid #ddd;
    .data-title-bonus-malus{
      margin: 0 2rem 0 -2rem;
      p.num{
        margin-right: 1.5rem;
        float: left;
      }
    }
    p{
      font-size: 1.4rem;
    }
    p.total{
      font-weight: bold;
    }
    p.currency{
      float: left;
      margin-right: 0.5em;
    }
    span.glyphicon{
      color:  $color-accent;
      float: left;
      margin-right: 1rem;
    }
    .open-bonus-malus{
      cursor: pointer;
      p{
        color: $color-accent
      }
    }
  }
  .row.payment-data{
    .data-title-bonus-malus{
      padding-left: 4.2rem;
    }
    p{
      color: #787887;
    }
  }
  .row.total-sum{
    padding-top: 1.8rem ;
    padding-bottom: 1.8rem ;
  }
}

.info-box{
  .form-item{
    margin-bottom: 0;
  }
}
