#cfe-quote .cfe-premium{
	position: relative;

	.btn.btn-primary{ float: right; }
}

.footer-center {
	display: none;
}

.node-type-dossier.page-node-1293 .footer-top,
.node-type-dossier.page-node-1293 .footer-bottom {
	display: none;
}

.node-type-product .footer-center, .node-type-dossier.page-node-1293 .footer-center,
.node-type-dossier.page-node-1278 .footer-quote{
	display: block;
	position: fixed;
	bottom: 0; left: 0;
	width: 100%;
	background: $color-accent-dark;
	color: $white;
	text-align: center;
	z-index: 10;

	.cfe-tax-wrapper{
		display: none;
		padding: 15px 0;
		background: $black-5;
		.cfe-premium-before, .cfe-premium-tax{
			@extend .container;
			color: $black-60;
			span:nth-child(2){ font-weight: 700; }
		}
	}

	.cfe-premium-wrapper{
		@extend .container;
		padding: 1em 0;
		.cfe-premium{
			display: inline-block;
			color: $white;
			font-size: 1.6em;
			font-weight: 700;
			.currency{
				font-weight: $font-light;
				font-size: 0.8em;
			}
		}
	}

	.progress{
		margin: 0;
		height: 0.5em;
		background-color: $black-10;
		box-shadow: none;
		border: none;
		.progress-bar{
			background-color: lighten( $color-brand, 25% );
			&.progress-bar-warning{ background-color: $color-brand; }
		}
	}

	&.affix{ bottom: 0; }
}
