.m-list-documents {
	margin-bottom: 1rem;
	font-size: 1.8rem;
	line-height: 2.6rem;

	.list-unstyled {
		font-size: 1.8rem;
		line-height: 2.6rem;

		.glyphicon {
			top: 0;
			margin-right: .5rem;
			font-size: 1.6rem;
		}
	}

	.m-list-documents__item {
		margin-bottom: 1rem;

		&:first-child .m-list-documents__link {
			font-weight: 700;
		}
	}

	.m-list-documents__date {
		margin-bottom: .4rem;
		font-size: 1.4rem;
		line-height: 1.8rem;
	}

	.m-list-documents__link {
		display: block;
		margin-bottom: 0.4rem;
		line-height: 2.6rem;
		font-size: 1.8rem;
		text-decoration: none;
		transition: color .3s;
		color: $color-accent;
	}
}
