body.node-type-product{

	.euro-class {
		padding: 2rem 2rem 2rem 1.6rem;
		margin-bottom: 1rem;
		background: $black-5;
		border: 0.1rem solid #a4d5de;
		border-left-width: .5rem;
		border-left-color: $color-accent-dark;

		.euro-group {
			display: inline-block;
			width: 33.3333%;
			padding-right: 0.5rem;
			margin: 0;
			margin-bottom: 1rem;

			&:first-child {
				width: 100%;
				.euro-value {
					font-size: 1.8rem;
					line-height: 2.4rem;
					margin-bottom: 1rem;
				}
				.euro-label { display: none; }
			}

			.euro-label, .euro-value {
				display: block;
				margin: 0;
				padding: 0;
				color: $color-accent-dark;
			}

			.euro-label {
				width: 100%;
				font-size: 1.2rem;
				line-height: 1.2rem;
				font-weight: 400;
				white-space: nowrap;
  			overflow: hidden;
  			text-overflow: ellipsis;
			}

			.euro-value {
				font-size: 1.4rem;
				line-height: 2rem;
				font-weight: 700;
			}
		}
	}

	.modal.fade.eurotax-modal{

		h3#eurotax-back{
			display: inline-block;
			color: $color-sub;
			font-size: 2.2rem;
  	  line-height: 2.8rem;
			margin: 0;
		}

		.button-previous {
			cursor: pointer;
	    display: inline-block;
			padding-right: 0.5rem;
			color: $color-accent;
		}

		.modal-header .close { top: 0.8rem; }

		.form-group>label{ margin-bottom: 1rem; }

		.modal-dialog .modal-content{
			vertical-align: top;
		}
	}

}
