.block-lang-dropdown{
	float: right;

	form{
		position: relative;

		select{
			cursor: pointer;
			height: 2.6rem;
			width: 4.6rem !important;
			border-bottom: none;
			font-size: 1.2rem;
			padding: 0.3rem 0.8rem 0;
			text-transform: uppercase;
			color: $color-accent;
		}

		&:after{
			pointer-events: none;
			position: absolute; top: 1.3rem; right: 0.8rem;
			width: 0;
			height: 0;
			content: '';
			z-index: 2;
			border-top: 0.25em solid $color-accent;
			border-left: 0.3em solid transparent;
			border-right: 0.3em solid transparent;
			transform: translate3d( 0, -50%, 0 );
		}
	}

	@include break(md){
		position: absolute;
		top: 0;
		right: 0.9rem;
	}
}
